@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --background-color: rgba(39, 20, 135);
    --background-color-2: rgba(23, 104, 165);
    --background-color-3: rgba(18, 4, 90);
    --border-color: rgba(23, 104, 165);
    --text-color: white;
    --font-family: 'Montserrat', sans-serif;
    --font-optical-sizing: auto;
    --font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    font-optical-sizing: var(--font-optical-sizing);
    font-style: var(--font-style);
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stats-box{
    display: flex;
    flex-direction: column;
    border: 2px solid var(--border-color);
    height: auto;
    width: 700px;
    padding: 30px;
    border-radius: 20px;
}

.progress-bar{
    width: 100%;
    height: 10px;
    background-color: var(--background-color-2);
    border-radius: 5px;
    margin-bottom: 50px;
}

.progress{
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    border-radius: 10px;
    transition: width 0.4s ease-in-out; 
}


.name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 220px; 
}

.stats-numbers{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.stats-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.stats-item h2{
    font-size: 24px;
    margin-bottom: 10px;
}
.stats-item p{
    font-size: 18px;
}

.task-form {
     display: flex;
     margin-top: 60px;
     width: 100%;
     max-width: 600px;
     gap: 10px;
}

.task-input{
    flex: 1;
    padding: 16px;
    font-size: 16px;
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
    border-radius: 10px;
    color: var(--text-color);
    outline: none;
}


.new-task{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color-2);
    border: 2px solid var(--border-color);
    width:50px;
    height: 50px;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    flex-shrink: 0;
}

.new-task:hover{
    background-color: var(--background-color-3) ;
    border-color: var(--background-color-3);
}

.task-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 55px ;
    margin-top: 30px;
    padding: 0;
    width: 100%;
    max-width: 510px;
    list-style: none;
}

.task-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--background-color-2);
    padding: 10px 16px;
    border-radius: 10px;
}

.task{
    display: flex;
    align-items: center;
    gap: 10px;
}

.task input{
    width: 20px;
    height: 20px;
}

.task.completed p{
    text-decoration: line-through;
}

.checkbox{
   accent-color: var(--background-color);
}

.icons img{
    width: 24px;
    height: 24px;
    margin: 0 10px;
    cursor: pointer;
}

/* Start of Media Query responsive website for 768px screens */

@media screen and (max-width: 768px) {

    /* Changes reflects on screen with a width of 768px and below */

   .box{
        width: auto;
        height: auto;
        padding-left: 1rem;
        padding-right: 1rem
    }

    .stats-box{
        width: 100%;
        height: auto;
        padding: 0 2rem 0 2rem;
    }

    .name h1{
        margin-left: 1.7rem;
    }

    .stats-item{
        text-align: center;
    }

    .task-form{
        margin-top: 2rem;
    }

    .task-item{
        margin-left: 1.7rem;
    }

    .new-task{
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
    }

}

/* End of Media Query responsive website for 768px screens */


/* Start of Media Query responsive website for 480px screens */

@media  screen and (max-width: 480px) {
    .box{
        width: auto;
        height: auto;
        padding-left: 1rem;
        padding-right: 1rem
    }

    .stats-box{
        width: 100%;
        height: auto;
        padding: 0 2rem 0 2rem;
    }

    .name{
        margin-left: 3.5rem;
    }

    .stats-item{
        text-align: center;
    }

    .task-form{
        margin-top: 2rem;
    }        
}

/* End of Media Query responsive website for 480px screens */


/* Start of Media Query responsive website for 390px screens */

@media  screen and (max-width: 390px) {

    .box{
        width: auto;
        height: auto;
        padding-left: 1rem;
        padding-right: 1rem
    }

    .stats-box{
        width: 100%;
        height: auto;
        padding: 0 2rem 0 2rem;
    }

    .name{
        margin-left: 2.2rem;
    }

    .stats-item{
        text-align: center;
    }

    .task-form{
        margin-top: 2rem;
    }
}

/* End of Media Query responsive website for 390px screens */


/* Start of Media Query responsive website for 360px screens */

@media  screen and (max-width: 360px) {
    .box{
        width: auto;
        height: auto;
        padding-left: 1rem;
        padding-right: 1rem
    }

    .stats-box{
        width: 100%;
        height: auto;
        padding: 0 2rem 0 2rem;
    }

    .name{
        margin-left: 2.7rem;
    }

    .stats-item{
        text-align: center;
    }

    .task-form{
        margin-top: 2rem;
    }
}

/* End of Media Query responsive website for 360px screens */







